input {
    appearance: none;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-section,
.pedido-section {
    width: 400px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.client-section {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.client-section h2,
.pedido-section h2 {
    text-align: center;
    font-size: 28px;
    padding: 12px;
    margin-bottom: 12px;
}

.client-section > div,
.input-type-pan > div{
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.client-section > div > input,
.input-quantity-discount > div > input {
    background-color: #fefefe;
    font-size: 1rem;
    box-sizing: border-box;
    width: 280px;
    padding: 5px;
    height: 32px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #d1cfcf;
    margin-top: 4px;
}

.client-section > div > label > span {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-top: 6px;
    margin-left: -36px;
}

.span-name {
    background: url(svgIcons/user-solid.svg) no-repeat center;
}

.span-phone {
    background: url(svgIcons/phone-solid.svg) no-repeat center;
}

.span-address {
    background: url(svgIcons/location-dot-solid.svg) no-repeat center ;
}

.btn-client {
    border: none;
    margin-top: 12px;
    font-size: 1rem;
    padding: 10px;
    width: 100px;
    border-radius: 6px;
    color: #f3f3f3;
    background-color: #51848d;
    box-shadow: 1px 1px 5px #1a1919;
}

.pedido-section {
    margin-top: 20px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-type-pan > div > select {
    background-color: #fefefe;
    font-size: 1rem;
    box-sizing: border-box;
    width: 280px;
    padding: 5px;
    height: 32px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #d1cfcf;
    margin-top: 4px;
}

.input-quantity-discount {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

.input-quantity-discount > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-quantity-discount > div > input {
    width: 128px;
}

.btn-pedido {
    border: none;
    margin-top: 12px;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #f3f3f3;
    background-color: #51848d;
    box-shadow: 1px 1px 5px #1a1919;
    transition: 0.2s;
}

.btn-client:active,
.btn-pedido:active {
    box-shadow: 1px 1px 5px #c4c4c4;
}

.div-discount::after {
    content: "%";
    font-size: 22px;
    position: absolute;
    margin-top: 18px;
    margin-left: 102px;
    transition: all .05s ease-in-out;
}

.div-discount:hover::after,
.div-discount:focus-within::after {
    margin-left: 84px;
}

/* Section to be print */


.bill-container {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    border: solid 1px #1a1919;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #777676;
    color: #f3f3f3;
}

.title-header {
    font-size: 28px;
    font-weight: bold;
}

.bill-data {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bill-client-info h3 {
    margin-top: 8px;
    margin-bottom: 4px;
}

.bill-date-number p {
    margin-bottom: 6px;
}


th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  th {
    background-color: #04AA6D;
    color: white;
  }


.items-table {
    margin: 20px;
}

#items-table {
    margin: auto;
    width: 100%;
}

.total-table {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.number-table {
    text-align: right;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Section to be print end*/

#btn-print { 
    border: none;
    margin-top: 12px;
    font-size: 1rem;
    padding: 10px;
    width: 100px;
    border-radius: 6px;
    color: #f3f3f3;
    background-color: #e0723f;
    box-shadow: 1px 1px 5px #b62c2c;
}

.footer {
    padding: 20px;
}

.footer h2 {
    font-weight: bold;
}

.footer p {
    margin-top: 4px;
}

.condiciones {
    margin-top: 20px;
    margin-bottom: 20px;
}